*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F1F1F2;
}

body {
    background: #474787;
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #474787;
    background-size: cover;
    font-weight: 600;
    font-size: 1.3rem;
    color: #ECECEC;
    padding: 1rem 3rem 1rem 2rem;
}

#bannerButton {
    margin-top: 2rem;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1.3rem;
}

#bannerButton button {
    align-items: center;
    background-color: rgba(44, 44, 84, 0.5);
    border: 2px solid rgb(71, 71, 135);
    border-radius: 10px;
    box-sizing: border-box;
    color: #ECECEC;
    cursor: pointer;
    display: flex;
    font-family: "Electrolize", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.3rem;
    height: 48px;
    justify-content: start;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 3px 7px rgba(0, 0, 0, 0.5);
    transition-duration: 0.4s;
    transition-property: box-shadow;
}

#bannerButton button:hover {
    background-color: rgba(71, 71, 135, 0.5);
    box-shadow: 5px 10px rgba(0, 0, 0, 0);
    transform: translateY(-2px);
    outline: 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-weight: 200;
    gap: 3rem;
    transition-property: text-decoration;
    transition-duration: 0.3s;
}

nav ul li:hover {
    text-decoration: underline;
    transform: translateY(-2px);
}

#banner {
    position: relative;
    width: 100%;
    height: 110vh;
    background: #2C2C54;
    background-size: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: "Electrolize", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #ECECEC;
    text-align: left;
    border-top: 5px solid #474787;
    border-bottom: 5px solid #474787;
    gap: 0.5rem;
    padding: 8rem;
    z-index: -5
}

@keyframes scrollPattern {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50%);
    }
}

#banner .bannerBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/test.svg') repeat;
    background-size: 25px 25px;
    z-index: 1;
    animation: scrollPattern 5s linear infinite;
    filter: invert(29%) sepia(21%) saturate(1356%) hue-rotate(201deg) brightness(95%) contrast(94%);
}

#banner .bannerSolidBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: rgba(44, 44, 84, 1);
    z-index: 3;
}

#banner .bannerOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(44, 44, 84, 1), rgba(44, 44, 84, 0));
    z-index: 2;
}

.bannerContent {
    position: relative;
    z-index: 4;
}

#banner h1 {
    font-weight: 600;
    margin: 1.2rem 0 2rem 0;
}

p {
    font-size: 1.2rem;
}

section {
    padding: 3rem 0;
    background: #474787;
    background-size: cover;
    width: 100%;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section p {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.2rem;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: auto;
    max-width: 800px;
}

.about{
    align-items: start;
    gap: 2rem;
    text-align: justify;
}

.about h3 {
    padding: 0.5rem 0;
}

.projectCardContainerInner {
    position: relative;
    max-width: 1200px;
    min-height: 550px;
    width: 100%;
    height: 100%;
    margin: 2rem auto;
    overflow: visible;
}

.projectCardContainerInner:nth-child(even) {
    right: 0;
    left: auto;
}

.projectCardContainerInner:nth-child(odd) {
    right: auto;
    left: 0;
}

.projectCardImage {
    position: absolute;
    width: 75%;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
}

.projectCardImage:nth-child(odd) {
    left:0;
}

.projectCardImage:nth-child(even) {
    right:0;
}

.projectCardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    opacity: 0.7;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.projectCardImage img:hover {
    opacity: 1;
}

.projectCardText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    background-color: rgba(44, 44, 84, 0.8);
    padding: 1.5rem;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
}

.projectCardText ul {
    margin-top: 1.5rem;
}

.projectCardText h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.projectCardText p {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
    text-align: justify;
}

.projectCardText:nth-child(even) {
    right: 0;
}

.abilities {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
}

.abilities li {
    background: #474787;
    border-radius: 5px;
    padding: 4px 16px;
}

.div {
    background: #474787;
    margin: 0;
    padding: 0;
}

hr {
    background: #474787;
    display: block;
    border: 0;
    border-top: 4px solid rgb(44, 44, 84);
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    padding: 0;
}

.githubLogo {
    margin: auto;
    width: 3rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.githubLogo:hover {
    fill: #ECECEC;

}

.filter {
    filter: none;
    transform: scale(1);
    transition: transform 0.3s ease, fill 0.3s ease;
}

.filter:hover {
    filter: invert(64%) sepia(53%) saturate(6185%) hue-rotate(161deg) brightness(94%) contrast(101%);
    transform: scale(1.1);
    transition: transform 0.3s ease, fill 0.3s ease;
}
