/* 'Hello, my name is' animation */
.banner-reveal-letters {
  white-space: pre-wrap;
}

.banner-reveal-char {
  opacity: 0;
  display: inline-block;
  will-change: transform, opacity;

  /* cubic-bezier allow a curve for the animation timer (fast start, slow end) */
  /* https://www.cssportal.com/css-cubic-bezier-generator/ */
  animation: banner-char-reveal 300ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.banner-reveal-char.long {
  animation-name: banner-char-reveal-long;
  animation-duration: 600ms;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes banner-char-reveal {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  80% {
    transform: translateY(1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes banner-char-reveal-long {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }
  80% {
    transform: translateY(1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.name-word {
  display: inline-block;
  white-space: pre;
}

// to avoid arrow flash when loading page
.banner__arrow {
  opacity: 0;
}

.arrow-intro {
  animation: banner-char-reveal 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.arrow-bounce {
  animation: upDownPattern 1.5s alternate infinite;
}

@keyframes upDownPattern {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

.card-reveal-char {
  opacity: 0;
  display: inline-block;
  will-change: transform, opacity;

  /* cubic-bezier allow a curve for the animation timer (fast start, slow end) */
  /* https://www.cssportal.com/css-cubic-bezier-generator/ */
  animation: card-char-reveal 500ms cubic-bezier(0, 0, .58, 1) forwards;
}

@keyframes card-char-reveal {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }
  80% {
    opacity: 0.4;
    transform: translateY(-1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-elem-hide {
  opacity: 0;
}

.card-reveal-block {
  opacity: 0;
  will-change: transform, opacity;
  animation: card-block-reveal 600ms cubic-bezier(0, 0, .58, 1) forwards;
}

@keyframes card-block-reveal {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes card-block-reveal-long {
  0% {
    opacity: 0;
    transform: translateY(36px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}