/* 'Hello, my name is' animation */
.banner-reveal-letters {
  white-space: pre;
}

.banner-reveal-char {
  opacity: 0;
  display: inline-block;
  will-change: transform, opacity;

  /* cubic-bezier allow a curve for the animation timer (fast start, slow end) */
  /* https://www.cssportal.com/css-cubic-bezier-generator/ */
  animation: banner-char-reveal 300ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes banner-char-reveal {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  80% {
    transform: translateY(1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.name-reveal-letters {
  white-space: normal;
}

.name-word {
  display: inline-block;
  white-space: nowrap;
}

// to avoid arrow flash when loading page
.banner__arrow {
  opacity: 0;
}

.arrow-intro {
  animation: banner-char-reveal 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.arrow-bounce {
  animation: upDownPattern 1.5s alternate infinite;
}

@keyframes upDownPattern {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}
