$font-family-primary: "Lexend Deca", sans-serif;

$font-color-basic: rgb(255, 255, 255);

$breakpoint-phone-min: 450px;
$breakpoint-phone-max: 575px;
$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 900px;
$breakpoint-desktop-min: 1200px;

/* font-size parameters */

/* default */
$font-default-desktop: 16px;
$font-default-tablet: 16px;
$font-default-phone: 14px;

/* navigation */
$font-nav-link-desktop: 24px;
$font-nav-link-tablet: 18px;
$font-nav-link-phone: 16px;

/* banner */
$font-banner-intro-desktop: 31px;
$font-banner-intro-tablet: 26px;
$font-banner-intro-phone: 18px;

$font-banner-name-desktop: 91px;
$font-banner-name-tablet: 64px;
$font-banner-name-phone: 38px;

$font-banner-information-desktop: 21px;
$font-banner-information-tablet: 18px;
$font-banner-information-phone: 16px;

/* project-card */
$font-card-title-desktop: 40px;
$font-card-title-tablet: 32px;
$font-card-title-phone: 24px;

$font-card-tag-desktop: 14px;
$font-card-tag-tablet: 12px;
$font-card-tag-phone: 10px;

$font-card-text-desktop: 18px;
$font-card-text-tablet: 16px;
$font-card-text-phone: 14px;

/* form */
$font-form-title: 2rem;
$font-form-content: 1.25rem;
$font-form-input: 1.125rem;
$font-form-flash: 0.8rem;
$font-form-button: 1.3rem;

/* detail project */
$font-detail-title: 2.5rem;
$font-detail-content: 1.125rem;
$font-detail-comment: 0.8rem;

:root {
  font-size: $font-default-phone;

  --primary-color: 26, 36, 51;
  --secondary-color: 53, 141, 222;
  --tertiary-color: 55, 85, 125;
  --filter-primary-color: invert(10%) sepia(60%) saturate(407%) hue-rotate(181deg) brightness(92%) contrast(91%);
  --filter-secondary-color: invert(53%) sepia(96%) saturate(2247%) hue-rotate(187deg) brightness(90%) contrast(92%);

  @media (min-width: $breakpoint-tablet-min) {
    font-size: $font-default-tablet;
  }

  @media (min-width: $breakpoint-desktop-min) {
    font-size: $font-default-desktop;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(var(--primary-color));
  font-family: $font-family-primary;
  color: $font-color-basic;
  padding-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-bar {
  height: 5rem;
  background-color: rgb(var(--primary-color));
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  //border-bottom: 3px solid rgb(var(--secondary-color));
  padding: 0 1rem;

  &__button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    cursor: pointer;

    &__logo {
      display: inline-block;
      width: 2.5rem;
      height: auto;
    }

    @media (min-width: $breakpoint-tablet-min) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: auto;
    height: auto;
    top: 4rem;
    right: 1rem;
    background-color: rgb(var(--secondary-color));
    border-radius: 5px;
    border: white solid 1px;
    gap: 0.5rem;
    padding-bottom: 0.5rem;

    transform: translateX(150%);
    transition: transform 0.3s ease;

    font-size: $font-nav-link-phone;
    font-weight: 200;

    &.is-open {
      transform: translateX(0);
    }

    @media (min-width: $breakpoint-tablet-min) {
      position: initial;
      top: revert;
      right: revert;
      background-color: initial;
      border: none;
      border-radius: 0;
      transform: initial;
      padding-bottom: 0;
      gap: 2rem;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;

      font-size: $font-nav-link-tablet;
    }

    @media (min-width: $breakpoint-desktop-min) {
      font-size: $font-nav-link-desktop;
    }

    &__widget {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.875rem;

      @media (min-width: $breakpoint-tablet-min) {
        flex-direction: row;
        gap: 1rem;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    transition-property: text-decoration;
    transition-duration: 0.3s;
    margin: 0;
    align-items: center;
    justify-content: center;

    @media (min-width: $breakpoint-tablet-min) {
      gap: 1rem;
      flex-direction: row;
    }
  }

  &__item {
    padding: 0.75rem 0.25rem;

    @media (min-width: $breakpoint-tablet-min) {
      padding: 0;
    }
  }

  &__link {
    padding: 0.875rem 1rem;

    @media (min-width: $breakpoint-tablet-min) {
      padding: 0;
    }
  }

  &__item:hover {
    text-decoration: underline;
    transform: translateY(-2px);
  }

  &__hidden {
    top: -16rem;
  }
}

.theme {
  min-width: 4rem;
  min-height: 2rem;

  &__toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
      -moz-user-select: none;
        -ms-user-select: none;
          user-select: none;

    &__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .theme__toggle__control:after {
        left: 2.2rem;
      }
    }

    &__control {
      background-color: rgb(var(--primary-color));
      position: absolute;
      top: 0;
      left: 0;
      height: 2rem;
      width: 4rem;
      border-radius: 25px;
      transition: background-color 0.15s ease-in;

      @media (min-width: $breakpoint-tablet-min) {
        background-color: rgb(var(--secondary-color));
      }

      &:after {
        content: "";
        position: absolute;
        top: 0.28rem;
        left: 0.28rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 25px;
        background: white;
        transition: left 0.15s ease-in;
      }
    }
  }
}

.language-picker {
  position: relative;
  display: flex;

  &__summary {
    list-style: none;
    cursor: pointer;
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;

    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      display: none;
    }
  }

  &__flag-options {
    display: flex;
    position: absolute;
    background: rgb(var(--secondary-color));
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    top: 40px;
    left: -8px;
    justify-content: center;
    align-items: center;
  }

  &[open] .language-picker__flag-options {
    display: block;
  }

  &__item {
    cursor: pointer;
    list-style: none;
  }
}

.flag-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  text-align: left;

  &__content {
    position: relative;
    width: 290px;
    height: 290px;

    @media (min-width: $breakpoint-phone-max) {
      width: 500px;
    }

    @media (min-width: $breakpoint-tablet-min) {
      width: 650px;
    }

    @media (min-width: $breakpoint-desktop-min) {
      width: 900px;
    }
  }

  &__h1 {
    font-size: $font-banner-name-phone;
    font-weight: 700;
    margin-bottom: 1rem;
    color: rgb(var(--secondary-color));

    @media (min-width: $breakpoint-phone-max) {
      font-size: $font-banner-name-tablet;
    }

    @media (min-width: $breakpoint-desktop-min) {
      font-size: $font-banner-name-desktop;
    }
  }

  &__h2 {
    font-weight: 200;
    font-size: $font-banner-intro-phone;
    margin-bottom: 0.5rem;

    @media (min-width: $breakpoint-phone-max) {
      font-size: $font-banner-intro-tablet;
    }

    @media (min-width: $breakpoint-phone-max) {
      font-size: $font-banner-intro-desktop;
    }
  }

  &__p {
    font-weight: 200;
    font-size: $font-banner-information-phone;

    @media (min-width: $breakpoint-phone-max) {
      font-size: $font-banner-information-tablet;
    }

    @media (min-width: $breakpoint-phone-max) {
      font-size: $font-banner-information-desktop;
    }
  }

  &__arrow {
    position: absolute;
    filter: var(--filter-secondary-color);
    width: 6rem;
    height: auto;
    bottom: 0;
  }
}

.section {
  padding: 7.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 2rem auto;

  @media (min-width: $breakpoint-tablet-min) {
    gap: 10rem;
    margin: 5rem auto;
  }
}

.project-card {
  position:relative;
  width: 100%;
  max-width: 450px;
  height: 300px;

  @media (min-width:$breakpoint-phone-max) and (max-width: $breakpoint-tablet-min) {
    max-width: 600px;
    height: 400px;
  }

  @media (min-width:$breakpoint-tablet-min) and (max-width: $breakpoint-desktop-min) {
    max-width: 900px;
    height: 600px;
  }

  @media (min-width:$breakpoint-desktop-min) {
    height: 600px;
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(even) .text-container {
      left: 10%;
      right: auto;
      --base: translate(0, -50%);
    }

    &:nth-child(even) .image-container {
      left: auto;
      right: 15%;
      transform: translateX(15%);
      transition: transform 0.5s ease-out;
    }

    &:nth-child(odd) .text-container {
      right: 10%;
      left: auto;
      --base: translate(0, -50%);
    }

    &:nth-child(odd) .image-container {
      left: 15%;
      right: auto;
      transform: translateX(-15%);
      transition: transform 0.5s ease-out;
    }
  }

  &--detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 1rem;

    @media (min-width: $breakpoint-tablet-min) {
      height: 400px;
      width: 100%;
      max-width: none;
    }

    @media (min-width:$breakpoint-tablet-max) {
      height: 500px;
    }

    .image-container {
      display: flex;
      position: static;
      width: 70%;
      height: auto;

      @media (min-width: $breakpoint-tablet-min) {
        position: absolute;
        height: 400px;
        width: 600px;
        left: 8%;
        right: auto;
      }

      @media (min-width:$breakpoint-tablet-max) {
        height: 500px;
        width: 750px;
      }

      &__image {
        opacity: initial;
        width: 100%;
        height: auto;
        object-fit: cover;

        &:hover {
          cursor: initial;
        }
      }
    }

    .text-container {
      display: flex;
      position: static;
      padding: 4rem 2rem;

      --base: translate(0, 0);

      @media (min-width: $breakpoint-tablet-min) {
        position: absolute;
        --base: translate(0, -50%);
        top: 50%;
        right: 10%;
        left: auto;
      }

      &__head, &__body {
        align-items: start;
        justify-content: flex-start;
      }

      &__content {
        text-align: left;
      }
    }
  }
}

.image-container {
  position: static;
  width: 100%;
  overflow: hidden;
  z-index: 0;

  @media (max-width: $breakpoint-phone-min) {
    height: 300px;
  }

  @media (min-width: $breakpoint-phone-max) and (max-width: $breakpoint-tablet-min) {
    height: 400px;
  }

  @media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-desktop-min) {
    height: 600px;
  }

  @media (min-width: $breakpoint-desktop-min) {
    height: 600px;
    width: 900px;
  }

  &__image {
    display: block;

    border-radius: 5px;
    opacity: 0.75;
    transition-duration: 0.5s;
    transition-property: opacity;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center center;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.text-container {
  --base: translate(0, 0);

  position: absolute;
  inset: 0;
  z-index: 1;

  background-color: rgba(var(--secondary-color), 0.8);
  padding: 1.5rem 3rem;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media (min-width: $breakpoint-phone-max) and (max-width: $breakpoint-tablet-min) {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    --base: translate(-50%, -45%);
  }

  @media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-desktop-min) {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    --base: translate(-50%, -45%);
  }

  @media (min-width: $breakpoint-desktop-min) {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    --base: translate(0, 0);
  }

  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: $breakpoint-tablet-min) {
      align-items: start;
      justify-content: flex-start;
    }
  }

  &__title {
    font-size: $font-card-title-phone;
    font-weight: 700;

    @media (min-width: $breakpoint-tablet-min) {
      font-size: $font-card-title-tablet;
    }

    @media (min-width: $breakpoint-desktop-min) {
      font-size: $font-card-title-desktop;
    }
  }

  &__abilities {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: $font-card-tag-tablet;

    &__item {
      padding: 0.3rem 0.8rem;
      border-radius: 5px;
      background-color: rgba(var(--primary-color), 0.8);

      & span {
        opacity: 1;
      }
    }

    @media (min-width: $breakpoint-tablet-min) {
      font-size: $font-card-tag-tablet;
    }

    @media (min-width: $breakpoint-desktop-min) {
      font-size: $font-card-tag-desktop;
    }
  }

  &__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;

    @media (min-width: $breakpoint-phone-max) {
      align-items: start;
      justify-content: flex-start;
    }
  }

  &__content {
    font-size: $font-card-text-phone;
    font-weight: 200;
    text-align: center;

    @media (min-width: $breakpoint-phone-max) {
      text-align: justify;
    }

    @media (min-width: $breakpoint-tablet-min) {
      font-size: $font-card-text-tablet;
    }

    @media (min-width: $breakpoint-desktop-min) {
      font-size: $font-card-text-desktop;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &__logo {
      width: 1.5rem;
      height: auto;
    }
  }
}

.filter_reversed {
  transform: scale(1);
  transition: transform 0.3s ease, fill 0.3s ease;
  filter: invert(99%) sepia(1%) saturate(3140%) hue-rotate(32deg) brightness(121%) contrast(100%);

  &:hover {
    cursor: pointer;
    filter: var(--filter-primary-color);
    transform: scale(1.1);
    transition: transform 0.3s ease, fill 0.3s ease;
  }
}

.line-separator {
  display: block;
  width: 15%;
  border: 0 none;
  margin: 1.5rem auto;
  padding: 0;
  background-color: rgb(var(--secondary-color));
  height: 2px;
}

.contact {
  margin: auto;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 1rem;
  padding: 0 2rem;

  @media (min-width: $breakpoint-phone-max) and (max-width: $breakpoint-tablet-min) {
    max-width: 600px;
  }

  @media (min-width: $breakpoint-tablet-min) {
    max-width: 900px;
  }

  &__title, &__content {
    width: 100%;
    text-align: left;
  }

  &__title {
    font-size: $font-form-title;
  }

  &__content {
    font-size: $font-form-content;
    font-weight: 200;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__row {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media (min-width: $breakpoint-tablet-min) {
        flex-direction: row;
        justify-content: end;
      }
    }

    &__group {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & label {
        font-weight: 600;
      }

      & input, textarea {
        background-color: rgb(var(--primary-color));
        border: solid 1px rgb(var(--secondary-color));
        border-radius: 3px;
        outline: none;
        resize: vertical;
        padding: 0.5rem;
        color: $font-color-basic;
        font-size: $font-form-input;
        font-weight: 400;

        &:focus {
          border: 1px solid rgb(256, 256, 256);
        }

        &::placeholder {
          color: rgba(white, 0.5);
        }
      }
    }

    &__button {
      color: $font-color-basic;
      align-content: center;
      align-items: center;
      background: rgb(var(--secondary-color));
      border: none;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      font-family: $font-family-primary;
      font-weight: 700;
      font-style: normal;
      font-size: $font-form-button;
      height: 48px;
      justify-content: center;
      line-height: 24px;
      max-width: 100%;
      padding: 0 25px;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      box-shadow: 3px 7px rgba(0, 0, 0, 0.2);
      transition-duration: 0.4s;
      transition-property: box-shadow, transform, background;

      &:hover {
        background: rgba(var(--secondary-color), 0.8);
        box-shadow: 5px 10px rgba(0, 0, 0, 0);
        transform: translateY(-2px) scale(1.05);
      }
    }

    &__flash {
      font-style: italic;
      font-size: $font-form-flash;

      @media (min-width: $breakpoint-tablet-min) {
        text-align: end;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: auto;

  &__logo {
    display: inline-block;
    width: 2.5rem;
    height: auto;
  }
}

.filter {
  transform: scale(1);
  transition: transform 0.3s ease, fill 0.3s ease;
  filter: invert(99%) sepia(1%) saturate(3140%) hue-rotate(32deg) brightness(121%) contrast(100%);

  &:hover {
    cursor: pointer;
    filter: var(--filter-secondary-color);
    transform: scale(1.1);
    transition: transform 0.3s ease, fill 0.3s ease;
  }
}

.main-container {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.project-info {
  width: 100%;
  padding: 1.5rem 1.5rem;
  background-color: rgb(55, 85, 125);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1000px;
  margin: 2rem 0 2rem 0;
  justify-content: center;
  align-items: center;

  @media (min-width: $breakpoint-tablet-min) {
    margin: 4rem 0 2rem 0;
    padding: 2.5rem 2.5rem;
    width: auto;
  }

  &__image-block {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: $font-detail-comment;
    max-width: 750px;


    &__image {
      overflow: hidden;
      border-radius: 5px;
      object-fit: fill;
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    font-weight: 200;
    font-size: $font-detail-content;
    text-align: justify;
    width: 100%;
  }

  &__title {
    width: 100%;
    font-size: $font-detail-title;
  }

  .line-separator {
    width: 100%;
    margin: auto;
  }
}

.bold {
  font-weight: 700;
}


.parallax {
  --parallax-y: 0%;
  transform: var(--base) translateY(var(--parallax-y));
  transition: transform 0.5s ease-out;

  @media (max-width: $breakpoint-phone-max) {
    transform: var(--base);
    transition: transform 0s;
  }
}