:root {
  font-size: 16px;
}
@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(26, 36, 51);
  font-family: "Azeret Mono", serif;
  color: rgb(255, 255, 255);
  padding-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-bar {
  height: 5rem;
  background-color: rgb(26, 36, 51);
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  font-weight: 600;
  font-size: 1.25rem;
  border-bottom: 3px solid rgb(53, 141, 222);
  padding: 0 1rem;
}
.nav-bar__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  cursor: pointer;
}
.nav-bar__button__logo {
  display: inline-block;
  width: 2.5rem;
  height: auto;
}
@media (min-width: 768px) {
  .nav-bar__button {
    display: none;
  }
}
.nav-bar__menu {
  display: initial;
  position: absolute;
  width: auto;
  height: auto;
  top: 4rem;
  right: 1rem;
  background-color: rgb(53, 141, 222);
  border-radius: 5px;
  border: white solid 1px;
  gap: 0.5rem;
  transform: translateY(-150%);
  transition: transform 0.3s ease;
}
.nav-bar__menu.is-open {
  transform: translateY(0);
}
@media (min-width: 768px) {
  .nav-bar__menu {
    position: initial;
    top: revert;
    right: revert;
    background-color: initial;
    border: none;
    border-radius: 0;
    transform: initial;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
.nav-bar__list {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  font-weight: 200;
  transition-property: text-decoration;
  transition-duration: 0.3s;
  margin: 0;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .nav-bar__list {
    gap: 1rem;
    flex-direction: row;
  }
}
.nav-bar__item {
  padding: 0.75rem 0.25rem;
}
@media (min-width: 768px) {
  .nav-bar__item {
    padding: 0;
  }
}
.nav-bar__link {
  padding: 0.875rem 1rem;
}
@media (min-width: 768px) {
  .nav-bar__link {
    padding: 0;
  }
}
.nav-bar__item:hover {
  text-decoration: underline;
  transform: translateY(-2px);
}
.nav-bar__hidden {
  top: -16rem;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Electrolize", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}
.banner__content {
  position: relative;
}
@media (max-width: 450px) {
  .banner__content {
    width: 290px;
  }
}
.banner__h1 {
  font-size: 3rem;
  font-weight: 1000;
  margin-bottom: 1rem;
  color: rgb(53, 141, 222);
}
.banner__h2 {
  font-weight: 200;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.banner__p {
  font-weight: 200;
  font-size: 1.125rem;
}
@keyframes upDownPattern {
  from {
    transform: translateY(-15%);
  }
  to {
    transform: translateY(0);
  }
}
.banner__arrow {
  position: absolute;
  filter: invert(53%) sepia(96%) saturate(2247%) hue-rotate(187deg) brightness(90%) contrast(92%);
  width: 6rem;
  height: auto;
  bottom: 0;
  animation: upDownPattern 1.5s alternate infinite;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 2rem auto;
}
@media (min-width: 768px) {
  .section {
    gap: 10rem;
    margin: 5rem auto;
  }
}

.project {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 300px;
}
@media (min-width: 575px) and (max-width: 768px) {
  .project {
    max-width: 600px;
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .project {
    max-width: 900px;
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .project {
    height: 600px;
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project:nth-child(even) .text-container {
    left: 10%;
    right: auto;
    transform: translate(0, -50%);
  }
  .project:nth-child(odd) .text-container {
    right: 10%;
    left: auto;
    transform: translate(0, -50%);
  }
}

.image-container {
  position: static;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
@media (max-width: 450px) {
  .image-container {
    height: 300px;
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  .image-container {
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .image-container {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .image-container {
    height: 600px;
    width: 900px;
  }
}
.image-container__image {
  display: block;
  border-radius: 5px;
  opacity: 0.6;
  transition-duration: 0.3s;
  transition-property: opacity;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center center;
}

.text-container {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(53, 141, 222, 0.6);
  padding: 1.5rem 3rem;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 575px) and (max-width: 768px) {
  .text-container {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .text-container {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1200px) {
  .text-container {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
  }
}
.text-container__title {
  font-size: 1.2rem;
  font-weight: 800;
}
.text-container__abilities {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.8rem;
}
.text-container__abilities__item {
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  background-color: rgba(26, 36, 51, 0.8);
}
.text-container__abilities__item span {
  opacity: 1;
}
.text-container__content {
  font-size: 0.8rem;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  margin-bottom: 0.8rem;
}
.text-container__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.text-container__icon__logo {
  width: 1.5rem;
  height: auto;
}

.filter_reversed {
  transform: scale(1);
  transition: transform 0.3s ease, fill 0.3s ease;
  filter: invert(99%) sepia(1%) saturate(3140%) hue-rotate(32deg) brightness(121%) contrast(100%);
}
.filter_reversed:hover {
  cursor: pointer;
  filter: invert(10%) sepia(60%) saturate(407%) hue-rotate(181deg) brightness(92%) contrast(91%);
  transform: scale(1.1);
  transition: transform 0.3s ease, fill 0.3s ease;
}

.line-separator {
  display: block;
  border: 0;
  border-top: 2px solid rgb(53, 141, 222);
  border-radius: 5px;
  width: 15%;
  margin: 1.5rem auto;
  padding: 0;
}

.contact {
  margin: auto;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 1rem;
  padding: 0 2rem;
}
@media (min-width: 575px) and (max-width: 768px) {
  .contact {
    max-width: 600px;
  }
}
@media (min-width: 768px) {
  .contact {
    max-width: 900px;
  }
}
.contact__title, .contact__content {
  width: 100%;
  text-align: left;
}
.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.125rem;
}
.contact__form__row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .contact__form__row {
    flex-direction: row;
    justify-content: end;
  }
}
.contact__form__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact__form__group input, .contact__form__group textarea {
  background-color: rgb(26, 36, 51);
  border: solid 1px rgb(53, 141, 222);
  border-radius: 3px;
  outline: none;
  resize: vertical;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}
.contact__form__group input:focus, .contact__form__group textarea:focus {
  border: 1px solid rgb(255, 255, 255);
}
.contact__form__button {
  color: rgb(255, 255, 255);
  align-content: center;
  align-items: center;
  background: rgb(53, 141, 222);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-family: "Electrolize", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.3rem;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 3px 7px rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
  transition-property: box-shadow, transform, background;
}
.contact__form__button:hover {
  background: rgba(53, 141, 222, 0.8);
  box-shadow: 5px 10px rgba(0, 0, 0, 0);
  transform: translateY(-2px) scale(1.05);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: auto;
}
.footer__logo {
  display: inline-block;
  width: 2.5rem;
  height: auto;
}

.filter {
  transform: scale(1);
  transition: transform 0.3s ease, fill 0.3s ease;
  filter: invert(99%) sepia(1%) saturate(3140%) hue-rotate(32deg) brightness(121%) contrast(100%);
}
.filter:hover {
  cursor: pointer;
  filter: invert(53%) sepia(96%) saturate(2247%) hue-rotate(187deg) brightness(90%) contrast(92%);
  transform: scale(1.1);
  transition: transform 0.3s ease, fill 0.3s ease;
}

/*# sourceMappingURL=style_v2.css.map */
