<template id="project-card-template">
    <div class="project-card">
        <div class="image-container">
            <a class="card-link-img">
                <img class="image-container__image" alt="" src="">
            </a>
        </div>
        <div class="text-container parallax">
            <div class="text-container__head">
                <h2 class="text-container__title"></h2>
                <ul class="text-container__abilities"></ul>
            </div>
            <div class="text-container__body">
                <p class="text-container__content"></p>
                <div class="text-container__icon">
                    <a class="card-link-github" target="_blank">
                        <img class="text-container__icon__logo filter_reversed"
                             alt="Logo of github"/>
                    </a>
                    <a class="card-link-detail">
                        <img class="text-container__icon__logo filter_reversed"
                             alt="External link to project"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>