<template id="project-detail-template">
    <div class="project-info">
        <h2 class="project-info__title" data-role="description-title"></h2>

        <hr class="line-separator">
        <div class="project-info__tech-stack" data-role="tech-stack"></div>
        <div class="project-info__content-group" data-role="description-content"></div>

        <div class="project-info__images" data-role="images-container"></div>

        <h2 class="project-info__title" data-role="what-i-learned-title"></h2>
        <hr class="line-separator">

        <div class="project-info__content-group" data-role="what-i-learned-content"></div>
    </div>
</template>